    <div class="app-body">
        <main class="main d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card-group">
                  <div class="card p-4">
                    <div class=card-header>
                      <h1 style="text-align: center;">Skull King</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card-group">
                  <div class="card p-4">
                    <div class="card-body">
                      <form>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-home"></i></span>
                          </div>
                          <input id="inputRoomCode" type="text" class="form-control" placeholder="Room Code" #roomCode>
                        </div>
                        
                        <div class="row">
                          <div class="col-12">
                            <button type="button" class="btn btn-lg btn-primary btn-block" (click)="findRoom(roomCode.value)">Enter Room</button>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-12">
                            <button type="button" class="btn btn-lg btn-danger btn-block"(click)="createRoom()">New Room</button>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-12">

                            <button style="color:white;" type="button" class="btn btn-lg btn-warning btn-block" data-toggle="modal" (click)="warningModal.show()">
                              How To Play
                            </button>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <p style="text-align: center;">Support via: <code><a href="https://www.grandpabecksgames.com/products-skull-king">https://www.grandpabecksgames.com/products-skull-king</a></code></p>
          </div>
        </main>
      </div>
      

      <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-warning" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Game rules</h4>
              <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Read <a href="https://720325cf-25da-4542-a3cd-8808bd25a4a5.filesusr.com/ugd/524f08_f06b3a48f77245cdb2a5bdefc29d9d7f.pdf" target="_blank">basic rules</a></p>
              <p>Read <a href="https://720325cf-25da-4542-a3cd-8808bd25a4a5.filesusr.com/ugd/524f08_13671ee3df3a4773aa286c7a18c0578f.pdf" target="_blank">expansion rules</a></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->