<!--
      <div class="animated fadeIn">
          <div class="row">
              <div class="col-sm-6 col-md-2"></div>
              <div class="col-sm-6 col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <strong>Playing</strong>
                          <div class="card-header-actions">
                          <span class="badge badge-success">Round: {{game.sub_round + 1}}/{{game.round}}</span>
                          <span class="badge badge-pill badge-danger">Time left: XX</span>
 -->
                          <!-- <game-timer></game-timer> -->
<!--                        </div>
                    </div>
                    <div class="card-body">
                        <game-playing-players></game-game-players>
                        <game-playing-hand></game-hand>
                        <game-playing-details></game-game-details>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2"></div>
        </div>
    </div>
 -->
