<div class="position-relative">
  <game-toast [service]="gameService"></game-toast>
</div>

<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <b>Playing</b>
        </c-card-header>
        <c-card-body>
            <c-alert color="info">
                <h4><strong>{{ game.rounds[game.details.round].tricks[game.details.trick].to_play }}</strong>'s turn</h4>
            </c-alert>

            <game-playing-details></game-playing-details>
            <game-playing-players [user]="user"></game-playing-players>
            <game-playing-hand></game-playing-hand>
        </c-card-body>
    </c-card>
  </c-col>
</c-row>