<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <b>Playing</b>
        </c-card-header>
        <c-card-body>
            <c-alert color="success">
                <h4><strong>{{ game.rounds[game.details.round].tricks[game.details.trick].lead }}</strong> leads the round.</h4>
            </c-alert>

            <game-playing-players></game-playing-players>
            <game-playing-hand></game-playing-hand>
            <game-playing-details></game-playing-details>
        </c-card-body>
    </c-card>
  </c-col>
</c-row>