<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Players
            </div>
            <div class="card-body" id="player-container">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Handle</th>
                            <th>Tricks won</th>
                            <th>Bet</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="player-list">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>