<!-- <div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List of tricks
            </div>
            <div class="row">
                <div class="col-2 col-lg-2" style="min-width: 140px; min-height: 230px;" *ngFor="let trick of hand">
                    <div class="card">
                            <img (click)="playTrick(trick)" style="width: 100%; height: 100%;" src="assets/images/small/{{trick.id}}.jpg">
                        <label class="switch switch-label switch-primary" style="width: 100%" *ngIf="trick.id == 72">
                            <input id="{{trick.id}}_switch" type="checkbox" class="switch-input" checked>
                            <span class="switch-slider" data-checked="Pirate" data-unchecked="Escape"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div> -->