<c-row>
    <c-col>
        <c-card class="mb-4">
            <c-card-header>
                <b>Your tricks</b>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <ng-container *ngTemplateOutlet="help"></ng-container>
                </div>
            </c-card-header>
            <c-card-body>
                <c-card-group class="mb-4">
                    <c-card *ngFor="let card of hand">
                        <ng-container [ngTemplateOutlet]="card.valid == true ? validCard : invalidCard"
                                        [ngTemplateOutletContext]="{ data: { card: card } }">
                        </ng-container>
                    </c-card>
                </c-card-group>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<ng-template #help>
    <game-playing-help></game-playing-help>
</ng-template>

<ng-template #validCard
            let-data="data">
    <img (click)="playCard(data.card)" style="width: 150px; height: 200px;" cCardImg="top" src="./assets/img/deck/{{data.card.id}}.png">
</ng-template>

<ng-template #invalidCard
            let-data="data">
    <img style="width: 150px; height: 200px; filter: grayscale(100%)" cCardImg="top" src="./assets/img/deck/{{data.card.id}}.png">
</ng-template>