<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <div class="card-body" id="user-container">
            <table [striped]="true" [hover]="true" cTable>
                <thead>
                    <tr>
                        <th>Handle</th>
                    </tr>
                </thead>
                <tbody id="user-list">

                </tbody>
            </table>
            <button class="btn btn-block btn-outline-primary" id="start-lobby-btn" (click)="StartLobby()">Start</button>
        </div>
      </c-card>
    </c-col>
  </c-row>