<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List of tricks
            </div>
            <div class="row">
                <div class="col-2 col-lg-2" style="min-width: 140px; min-height: 230px;" *ngFor="let trick of hand">
                    <!-- <div class="card" > -->
                        <div class="card-body clearfix" (click)="playTrick(trick)">
                            <!-- <div class="float-left"> -->
                                <img style="width: 100%; height: 100%;" src="assets/images/small/{{trick.id}}.jpg">
                            <!-- </div> -->
                            <!-- <div class="h5 text-danger mb-0 pt-3">{{trick.name}}</div>
                            <div class="text-muted font-weight-bold font-xs">Value: {{trick.value}}</div>
                            <div class="text-muted font-weight-bold font-xs">Type: {{trick.type}}</div> -->
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
      </div>
</div>