<br /><br /><br />

<div *ngIf="user.handle == null else lobby">
    <app-name></app-name>
</div>

<ng-template #lobby>
    <ng-container *ngIf= "room.state == 'waiting' else betting">
        <div class="animated fadeIn">
            <div class="row">
            <div class="col-md-3 mb-3"></div>
              <div class="col-md-6 mb-4">
                <!-- Nav tabs -->
                <tabset>
                  <tab>
                    <ng-template tabHeading><i class="icon-calculator"></i> Players </ng-template>
                    <app-lobby-players></app-lobby-players>
                  </tab>
                  <tab>
                    <ng-template tabHeading><i class="icon-basket-loaded"></i> Settings </ng-template>
                    <app-lobby-options></app-lobby-options>
                  </tab>
                  <tab>
                    <ng-template tabHeading><i class="icon-pie-chart"></i> Chat </ng-template>
                    <app-messages></app-messages>
                  </tab>
                </tabset>
              </div><!--/.col-->
            </div><!--/.row-->
        </div>
    </ng-container>
</ng-template>

<ng-template #betting>
    <ng-container *ngIf= "game.state == 'betting' else playing">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-6 col-md-2"></div>
                <div class="col-sm-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Betting</strong>
                            <div class="card-header-actions">
                            <span class="badge badge-success">Round: {{game.sub_round + 1}}/{{game.round}}</span>
                            <span class="badge badge-pill badge-danger">Time left: XX</span>
                            <!-- <app-timer></app-timer> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div role="alert" class="alert alert-success" ng-reflect-klass="alert alert-success" ng-reflect-ng-class="">
                                <h4><strong>{{game.players[game.to_play].handle}}</strong> to play.</h4>
                            </div>

                            <app-hand></app-hand>
                            <app-betboard></app-betboard>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2"></div>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #playing>
    <ng-container *ngIf= "game.state == 'playing' else scoreboard">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-6 col-md-2"></div>
                <div class="col-sm-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Playing</strong>
                            <div class="card-header-actions">
                            <span class="badge badge-success">Round: {{game.sub_round + 1}}/{{game.round}}</span>
                            <span class="badge badge-pill badge-danger">Time left: XX</span>
                            <!-- <app-timer></app-timer> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div role="alert" class="alert alert-success" ng-reflect-klass="alert alert-success" ng-reflect-ng-class="">
                                <h4><strong>{{game.players[game.to_play].handle}}</strong> to play.</h4>
                            </div>
                            <app-game-players></app-game-players>
                            <app-hand></app-hand>
                            <app-game-details></app-game-details>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2"></div>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #scoreboard>
    <app-scoreboard></app-scoreboard>
</ng-template>