<c-row ngPreserveWhitespaces>
  <c-col>
    <c-card class="mb-3 text-center">
      <c-card-header>
          <b>Select who leads the following round</b>
      </c-card-header>
      <c-card-body class="text-center">
        <c-row>
          <c-col>
            <table cTable>
              <tbody>
              <tr *ngFor="let player of game.players; let i = index">
                <td id="{{i}}_player_row" (click)="updateSelectedPlayer(player.handle)">{{player.handle}}</td>
              </tr>
              </tbody>
            </table>
          </c-col>
        </c-row>
        <br/>
        <c-row>
          <c-col>
            <button cButton color="success" (click)="accept()">Accept</button>
            <button cButton color="danger" (click)="cancel()">Cancel</button>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>