<c-row ngPreserveWhitespaces>
  <c-col>
    <c-card class="mb-3 text-center">
      <c-card-header>
          <b>Winning Trick</b>
      </c-card-header>
      <c-card-body>
        <ng-container
          [ngTemplateOutlet]="game.details.winning != null ? 
                        (isTigressCard(game.details.winning.card) == true ? tigressCard : nonTigressCard) : noCard"
          [ngTemplateOutletContext]="{ data: (game.details.winning != null ? game.details.winning.card : null) }">
        </ng-container>
        <br/>
        <c-badge class="me-1" color="danger">Round: {{game.details.trick + 1}}/{{game.details.round + 1}}</c-badge>
        <c-badge class="me-1" color="warning">Turn: {{game.rounds[game.details.round].tricks[game.details.trick].to_play}}</c-badge>
        <c-badge class="me-1" color="success" *ngIf="game.details.winning != null">Winning: {{game.details.winning.player}}</c-badge>
        <br/><br/>
        <game-playing-details-tricks [game]="game"></game-playing-details-tricks>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<ng-template #noCard let-card="data">
</ng-template>

<ng-template #nonTigressCard let-card="data">
  <img cCardImg="top" src="./assets/img/deck/{{card.id}}.png" style="width: 113px; height: 150px;">
</ng-template>

<ng-template #tigressCard let-card="data">
  <ng-container
    [ngTemplateOutlet]="isWildcard(card) == true ? wildCard : pirateCard"
    [ngTemplateOutletContext]="{ data: card }">
  </ng-container>
</ng-template>

<ng-template #wildCard let-card="data">
  <img cCardImg="top" src="./assets/img/deck/{{WILDCARD_ID}}.png" style="width: 113px; height: 150px;">
</ng-template>

<ng-template #pirateCard let-card="data">
  <img cCardImg="top" src="./assets/img/deck/{{card.id}}.png" style="width: 113px; height: 150px;">
</ng-template>