<!-- <form class="form-title" >
    <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
    <a href="http://localhost:4200">
      <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    </a>
</form> -->
<div class="app-header navbar" style="padding-left: 10px;">
  <!-- <a routerLink="/"> -->
  <a href="https://skull-king-app.herokuapp.com/">
    <img class="navbar-brand-full" src="assets/img/brand/logo.svg" alt="CoreUI Logo"  width="89" height="25">
  </a>
</div>
<!-- <app-header
  [navbarBrandRouterLink]="['/']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul>
</app-header> -->

<router-outlet></router-outlet>