<c-modal #resolveModal backdrop="static" id="resolveModal" scrollable [visible]="visible" (visibleChange)="handleResolveModalChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Resolve Trick</h5>
    <button [cModalToggle]="resolveModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body class="text-center">
    <img cCardImg="top" *ngIf="this.card != null" src="./assets/img/deck/{{this.card.id}}.png" style="width: 113px; height: 150px;">
    <br/><br/>
    <ng-container *ngTemplateOutlet="card.id == 2 ? bendtCard : 
    (card.id == 3 ? harryCard : 
    (card.id == 4 ? juanitaCard :
    (card.id == 5 ? rascalCard : rosieCard)))"></ng-container>
  </c-modal-body>
</c-modal>

<ng-template #bendtCard>
  <!-- <ng-container *ngIf= "card.id == 2 else harryCard"> -->
    <game-playing-resolve-bendt [hand]="hand"></game-playing-resolve-bendt>
  <!-- </ng-container> -->
</ng-template>

<ng-template #harryCard>
  <!-- <ng-container *ngIf= "card.id == 3 else juanitaCard"> -->
    <game-playing-resolve-harry></game-playing-resolve-harry>
  <!-- </ng-container> -->
</ng-template>

<ng-template #juanitaCard>
  <!-- <ng-container *ngIf= "card.id == 4 else rascalCard"> -->
    <game-playing-resolve-juanita [data]="data"></game-playing-resolve-juanita>
  <!-- </ng-container> -->
</ng-template>

<ng-template #rascalCard>
  <!-- <ng-container *ngIf= "card.id == 5 else rosieCard"> -->
    <game-playing-resolve-rascal></game-playing-resolve-rascal>
  <!-- </ng-container> -->
</ng-template>

<ng-template #rosieCard>
  <game-playing-resolve-rosie [game]="game"></game-playing-resolve-rosie>
</ng-template>